.DS_Store
Thumbs.db
*.log
*.log.gz
*.lck
*.lock

cache/
libraries/
logs/
backups/
debug/
crash-reports/

server.jar
*.jar.tmp
.cache
version_history.json
usercache.json

world/
world_nether/
world_the_end/

**/session.lock
**/uid.dat
**/level.dat_old

plugins/AdvancedPortals/playerData/
plugins/AuctionHouse/auctions.db*
plugins/AuctionHouse/logs/
plugins/AuthMe/authme.db
plugins/AuthMe/playerdata/
plugins/AuthMe/backup/
plugins/BetterRTP/data/
plugins/CoreProtect/*.db
plugins/CoreProtect/*.db-journal
plugins/Dynmap/web/
plugins/EconomyShopGUI/transaction-log.txt
plugins/EconomyShopGUI/transactions/
plugins/Essentials/userdata/
plugins/Essentials/userdata-npc-backup/
plugins/Essentials/warps/backup/
plugins/Essentials/*.bin
plugins/Jobs/jobs.sqlite.db
plugins/Jobs/logs/
plugins/Jobs/archive/
plugins/LuckPerms/libs/
plugins/LuckPerms/*.db
plugins/Multiverse-Core/scripts/
plugins/PlaceholderAPI/expansions/Cloud/
plugins/SkinsRestorer/cache/
plugins/SkinsRestorer/players/
plugins/WorldEdit/sessions/
plugins/WorldEdit/schematics/
plugins/WorldGuard/cache/
plugins/WorldGuard/backup/
plugins/bStats/

plugins/**/logs/
plugins/**/cache/
plugins/**/tmp/
plugins/**/backups/
plugins/**/playerdata/
plugins/**/userdata/
plugins/**/History/

.console_history
.bash_history
.mysql_history
